---
title: 'Holistic Web Creations'
description: 'Digital Harmonie schaffen'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/local.css" />
<link rel="stylesheet" href="/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper"
        >ein echtes Spiegelbild der Essenz Deinen Marke</span
      >
      <h1 class="cs-title">Webdesign + Entwicklung für kleine Unternehmen</h1>
      <p class="cs-text">
        Wir verwandeln Online-Räume mit der Kraft holistische Designs in
        Reiseziele
      </p>
      <a href="/kontakt" class="cs-button-solid">Nimm Kontakt auf</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="new home"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
  <!-- Get Icons From flaticon.com -->
  <div class="card">
    <picture>
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/svgs/service1.svg"
        alt="appliance"
        width="48"
        height="48"
      />
    </picture>
    <h2>Mobile-First-Design</h2>
    <p>
      Wir beginnen zunächst mit der Erstellung Deiner Website für Mobilgeräte
      und ergänzen sie dann für Tablets und Desktops.
    </p>
  </div>
  <div class="card">
    <picture>
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/svgs/service2.svg"
        alt="appliance"
        width="48"
        height="48"
      />
    </picture>
    <h2>Fully Responsive</h2>
    <p>
      Ihre Website passt auf alle mobilen Bildschirmgrößen, Tablets und
      Desktop-Größen, sodass neue Kunden von überall auf Ihre Website zugreifen
      können.
    </p>
  </div>
  <div class="card">
    <picture>
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/svgs/service3.svg"
        alt="appliance"
        width="48"
        height="48"
      />
    </picture>
    <h2>Optimierung</h2>
    <p>
      60 % des gesamten Internetverkehrs findet auf Mobilgeräten statt. Deshalb
      optimieren wir Ihr Mobilgerät, damit es in Suchmaschinen optimal
      abschneidet.
    </p>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side - About         -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Über uns</span>
      <h2 class="cs-title">Über Holistic Web Creations</h2>
      <p class="cs-text">
        Bei Holistic Web Creations sind wir mehr als nur eine Webdesign-Agentur
        – wir sind Ihr engagierter Partner bei der Schaffung digitaler
        Erlebnisse, die Kunstfertigkeit mit Funktionalität verbinden. Wir
        glauben an die Kraft ganzheitlichen Designs, Online-Bereiche in
        Wellness-Ziele zu verwandeln.
      </p>
      <p class="cs-text">
        Ganzheitliches Design, wie es unsere Agentur vertritt, kombiniert die
        Prinzipien von Ausgewogenheit, Harmonie und Funktionalität, um Websites
        zu erstellen, die nicht nur schön aussehen, sondern auch auf einer
        tieferen Ebene bei Ihrem Publikum Anklang finden.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          Begleiten Sie uns auf einer Reise, auf der Kreativität auf Logik
          trifft und digitales Design nahtlos mit ganzheitlichen Prinzipien
          verschmilzt.
        </p>
        <span class="cs-name">Jordan Patel</span>
        <span class="cs-job">Inhaber/Entwickler</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/ueber-uns" class="cs-button-solid">Mehr über uns</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="house"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">SEO Ranking</span>
      <h2 class="cs-title">Talk about a main service keyword</h2>
      <p class="cs-text">
        In consequat tincidunt turpis sit amet imperdiet. Praesent Class
        officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
        et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
        nonatourean olei aptent taciti sociosqu ad litora torquent per.
      </p>
      <p class="cs-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur,
        iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi
        fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores
        ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo
        quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Doloribus modi laudantium voluptatibus rem libero
        error minus quia eligendi sapiente eos.
      </p>
      <a href="/blog" class="cs-button-solid">Read our Blog</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Projects                    -->
<!-- ============================================ -->

<section id="projects">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Unsere Portfolio</span>
      <h2 class="cs-title">Unsere bisherigen Arbeiten</h2>
      <p class="cs-text">Werf einen Blick auf einige unserer Arbeit</p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/tree.svg"
              alt="icon"
              width="70"
              height="70"
            />
          </picture>
          <h3 class="cs-h3">Praxis für Osteopathie Sophie Ollrogge</h3>
          <p class="cs-item-text">
            Sophie Ollrogge ist Osteopathin und Heilprakikerin mit Sitz in
            Quickborn, DE. der osteopathische Behandlungen für Frauen und Babys
            anbietet.
          </p>
          <a href="" class="cs-link">Mehr erfahren</a>
        </div>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg
            "
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg"
            alt="leaf"
            width="345"
            height="428"
          />
        </picture>
      </li>
      <li class="cs-item">
        <div class="cs-flex">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/truck.svg"
              alt="icon"
              width="70"
              height="70"
            />
          </picture>
          <h3 class="cs-h3">Ganzheitliches Gesundheitszentrum</h3>
          <p class="cs-item-text">
            Das Haus der Begegnung ist ein Zentrum, das alternative
            Gesundheitsbehandlungen anbietet
          </p>
          <a href="" class="cs-link">Mehr erfahren</a>
        </div>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg
            "
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg"
            alt="grass"
            width="345"
            height="428"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Unsere Bewertungen</span>
      <h2 class="cs-title">Worte unserer Kunden</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-image"
          src="assets/images/sophie-ollrogge.webp"
          alt="profile"
          width="112"
          height="112"
          aria-hidden="true"
          decoding="async"
          loading="lazy"
        />
        <img
          class="cs-icon"
          src="assets/svgs/quote-right.svg"
          alt="icon"
          width="52"
          height="36"
          aria-hidden="true"
          decoding="async"
          loading="lazy"
        />
        <p class="cs-item-text">
          Jordan hat mir geholfen, meine Praxis zu eröffnen. Die Website bringt
          viele neue Patienten und der Buchungsservice hat mein Leben 1000 Mal
          besser gemacht.
        </p>
        <div class="cs-flex">
          <span class="cs-name">Sophie Ollrogge</span>
          <span class="cs-desc">Osteopathin</span>
        </div>
      </li>
      <li class="cs-item">
        <img
          class="cs-image"
          src="assets/images/sylvia-mader.webp"
          alt="profile"
          width="112"
          height="112"
          aria-hidden="true"
          decoding="async"
          loading="lazy"
        />
        <img
          class="cs-icon"
          src="assets/svgs/quote-right.svg"
          alt="icon"
          width="52"
          height="36"
          aria-hidden="true"
          decoding="async"
          loading="lazy"
        />
        <p class="cs-item-text">Es ist wirklich schön, mit Dir zu arbeiten</p>
        <div class="cs-flex">
          <span class="cs-name">Sylvia Mader</span>
          <span class="cs-desc">Coach und psychologische Beraterin</span>
        </div>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
